
<!--
 *business_contact_view.ejs created by:
  Carlos Cruz-Claro 0N 2020-10-22
#300-902-439 
-->


<%- include ../partials/header.ejs %>


<%- include ../partials/main_nav.ejs %>


<!-- Content for the EDIT page -->

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Business Name"
                    name="name"
                    value="<%= user.name %>" 
                    required>
                
                </div>

                <form class="form" method="POST">
                    <div class="form-group">
                        <label for="emailTextField">Email </label>
                        <input type="text" class="form-control"
                        id="emailTextField"
                        placeholder="Enter Business Email"
                        name="email" 
                        value="<%= user.email %>"
                        required>
                        
                    
                    </div>
                    <form class="form" method="POST">
                        <div class="form-group">
                            <label for="numberTextField">Number </label>
                            <input type="number" class="form-control"
                            id="numberTextField"
                            placeholder="Enter Business Number"
                            name="number"
                            value="<%= user.number %>"
                             required>
                        
                        </div>

                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-edit"></i> Submit</button>
                            
                        <a href="/users" class="btn btn-warning">
                            <i class="fas fa-undo"></i> Cancel</a>
                            </form>
                            
                        
            </form>
        </div>
    </div>
</div>
  
  
<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>

